.menu-content{
  padding: 0 24px!important;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
/* .menu-right{
  float: right;
}

.menu-left{
  float: left;
}
 */
@media (max-width: 767px) {
    .barsMenu {
      display: inline-block;
    }
  
    .menu-left,
    .menu-left {
      display: none;
    }
  
    .logo a {
      margin-left: -20px;
    }
  
    .menu-content .ant-menu-item,
    .menu-content .ant-menu-submenu-title {
      padding: 1px 20px;
    }
  
    .logo a {
      padding: 0px 20px;
    }
  }