
.menuCon {
  width: calc(100% - 150px);
  float: left;
}

.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
}


@media (max-width: 767px) {
    .barsMenu {
      display: inline-block;
    }
  
    .leftMenu,
    .rightMenu {
      display: none;
    }
  
    .logo a {
      margin-left: -20px;
    }
  
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
      padding: 1px 20px;
    }
  
    .logo a {
      padding: 0px 20px;
    }
  }